
<div class = "banner_container">
    <div class = "slides">
        <img src = "static/images/banner1.jpeg" width = "100%" height = "500px";>
        <div class = "caption1"> CAPTION 1 </div>
        <div class = "caption11"> SUB CAPTION 1 </div>
    </div>
    <div class = "slides">
        <img src = "static/images/banner2.jpeg" width = "100%" height = "500px">
        <div class = "caption2"> CAPTION 2 </div>
    </div>
    <div class = "slides">
        <img src = "static/images/banner3.jpeg" width = "100%" height = "500px">
        <div class = "caption3"> CAPTION 3 </div>
    </div>
</div>

<script>
    var count = 0;
    var banner = document.getElementsByClassName("slides");
    autoslideshow();
    function autoslideshow(){
        for (var i = 0; i < banner.length; i++){
            banner[i].style.display = "none";
        }
        count++;
        if ( count > banner.length){
            count = 1;
        }
        if ( count < 0 ){
            count = banner.length;
        }
        banner[count - 1].style.display = "block";
        setTimeout(autoslideshow, 4000);
    }

</script>