
<div class = "content">
    <div class = "content_div1">
        <h4> Customer First </h4>
        <p>Ontracks provides IBM Maximo consulting services, including implementation, audits, and assessments, upgrade services, and license sales and renewals.</p>
        <a href = " "> Learn More >> </a>
    </div>
    <div class = "content_div2">
        <h4> Engineering Reliability </h4>
        <p>We’ve developed an array of specialized configurations and innovative products to increase the efficiency and effectiveness of your Maximo system.</p>
        <a href = " "> Learn More >> </a>
    </div>
    <div class = "content_div3">
        <h4> Innovative Solutions </h4>
        <p> Watch one of our EAM and Maximo Webinars. Register for a live broadcast, or rewatch one of our many previous sessions.</p>
        <a href = " "> Learn More >> </a>
    </div>

</div>