<div class = "content_3">
    <div class = "content3_div1">
        <img src = "static/images/ibm_ad.jpeg " width = "100%" height = "100%">
    </div>

    <div class = "content3_div2">
        <span class = "h4">Market Works</span><br>
        <span class = "h5">An IBM Maximo Platinum Business Partner</span>
        <p>We strive to understand your business and processes. A solution may look perfect on paper, yet during the implementation of Maximo, you may face problems with adoption, integration, and scalability.
        <br><br>By gaining a thorough understanding of your organization, Ontracks will design and implement a Maximo configuration that fits with your culture and that delivers the greatest value and return.</p>
        <div class = "about_us"><a href = ""> ABOUT US > </a></div>
        <div class = "our_team"><a href = ""> OUR TEAM > </a></div>
    </div>
</div>

<div class = "content_4">
    <div class = "num1">
        <div class = "num11"> <p> 45 </p> </div>
        <p> Projects </p>
    </div>
    <div class = "num2">
        <div class = "num21"> <p>200+ </p> </div>
        <p> Years Of<br>Proven<br>Experience </p>
    </div>
    <div class = "num3">
        <div class = "num31"> <p> 89 </p> </div>
        <p> Support </p>
    </div>
    <div class = "num4">
        <div class = "num41"> <p> 150+ </p> </div>
        <p> Years Of<br>Experience </p>
    </div>
</div>