<div class = "topnav">
    <div class = "logo">
        <img src = 'static/images/logo.ico'>
    </div>
    <div class = "menu">
        <a href = "">Home</a>

        <div class = "dropdown">
            <button class = "drp_btn">Services</button>
            <div class = "drp_menu">
                <a href = "">App Devolopment</a>
                <a href = "">Consulting</a>
                <a href = "">Technology</a>
            </div>
        </div>

        <a href = "">Industries</a>
        <a href = "">Products</a>
        <a href = "">Careers</a>
        <a href = "">About us</a>
    </div>
    <div class = "search">
        <form action = " " method = "POST">
            <button class = "search_button"><i class = 'fa fa-search'></i></button>
            <div class = "textbar">
                <input type = "text" name = "search" placeholder = "Search...">
            </div>
        </form>
    </div>

</div>