
<div class = "content_final">

    <p> Read Our Customers Experiences </p>
    <a href = " "> Case Studies </a>

</div>

<div class = "footer">
    <!--    <div class = "footer1">
        <p> CONTACT US</p>
    </div> -->

    <div class = " footer2">
        <div class = "footer21">
            <h3>Locations</h3>
            <p>5270 Golden Gate Parkway,<br>
            Suite 104<br>
            Naples, FL, 34116</p>
            <p>515 Madison Avenue<br>
            8th Floor, Suite 9004<br>
            New York, NY 10022</p>
        </div>
        <div class = "footer22">
            <h3>About Ontracks</h3>
            <a href = " ">Ontracks</a>
            <a href = " ">Our Approach</a>
            <a href = " ">Contact Us</a>
            <a href = " ">Privacy</a>
            <a href = " ">Sitemap</a>

        </div>
        <div class = " footer23">
            <h3> Careers </h3>
            <p> join Our Team </p>
            <div class = "social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>