
<html>
    <head>
        <link href = 'static/css/style.css' type = 'text/css' rel = 'stylesheet'/>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
        </style>
    </head>
    <body>
        {% include 'topnav.html' %}
        {% include 'banner.html' %}
        {% include 'content.html' %}
        {% include 'content_2.html' %}
        {% include 'content_3.html' %}
        {% include 'content_5.html' %}
        {% include 'footer.html' %}
    </body>
</html>
